body {
    background-color: #e3f2fd;
}

#heading {
    color: #ffffff;
    background-color: #434377;
}

#taskName {
    color: #000000;
    background-color: #ffffff;
}

li {
    
}

.proposed {
    color: #cc0033;
    list-style-image: url('images/hourglass-start-solid.svg');
}

.accepted {
    color: #ff9900;
    list-style-image: url('images/user-check-solid.svg');
}

.inProgress {
    color: #b8b803;
    list-style-image: url('images/spinner-solid.svg');
}

.done {
    color: #009900;
    list-style-image: url('images/check-solid.svg');
}

li span {
    color: gray;
}

footer{
    color: #ffffff;
    background-color: #6d6dc7;
}